body{
    background-color: rgb(78, 199, 255);
}
#card{
    width: 70%;
    background-color: rgb(230, 6, 144);
    margin: 0 auto;
}
#inputs{
    display: flex;
    flex-direction: column;
}
#botoes{
    text-align: center;
}